<div class="login row">

    <div class="col-sm-12 d-flex flex-column column-right">
      <p>Login</p>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label>Usuário</label>
          <div class="input-group">
            <input type="text" name="username" class="form-control"
            minlength="3" maxlength="16" formControlName="username">
          </div>
        </div>

        <div class="form-group">
          <label>Senha</label>
          <div class="input-group">
            <input type="password" name="password" class="form-control"
             formControlName="password">
          </div>
        </div>

        <button type="submit" [disabled]="!form.valid || disabled" class="btn btn-success">Entrar</button>
      </form>

    </div>

    <div class="col-sm-12 d-flex flex-column justify-content-center align-items-center column-left">
      <p> Ainda não esta cadastrado ?</p>
        <button type="button" class="btn  btn-success" (click)="goToSignup()">Cadastre-se</button>
    </div>
</div>

