html, body{
    width: 100%;
    height: 100%;
    font-size: 16px;
}
#main{
    width: 100%;
    min-height: 100%;
    @media (max-width: 575.99px) {
        align-items: start!important;
        padding-top: 20px;
    }
}
